*.csv filter=lfs diff=lfs merge=lfs -text
picoscope/Runs/*.csv filter=lfs diff=lfs merge=lfs -text
picoscope/Runs/Pulse_Test_30V_Source_1/Pulse_Test_30V_Source_1.csv filter=lfs diff=lfs merge=lfs -text
